.middle-container {
  padding: 30px;
}

/* Middle Header */
.middle-header {
  display: flex;
}

.middle-header img {
  margin-right: 5px;
  height: 40px;
  width: auto;
}

#edit-icon {
  cursor: pointer;
  margin-left: 5px;
  height: 17px;
  width: auto;
}

.header-description {
  display: flex;
  margin: 25px 0;
}

.header-description img {
  margin: 0 5px;
}
/* --Middle Header-- */

/* Table of Cards */
.table {
  background-color: #f2f3f5;
  margin-right: 20px;
  border-radius: 5px;
  height: 34px;
  width: 216px;
}

.table-content {
  justify-content: space-between;
  font-weight: 500;
  padding: 7px;
}

.table-content span {
  margin-left: 5px;
}

#count {
  width: 20px;
  height: 20px;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  background-color: #1e1f1f;
}
/* --Table of Cards-- */

/* Card-Container */
.card-container {
  margin-top: 20px;
}
/* --Card-Container-- */
